<div class="relative h-60 m-8 overflow-hidden rounded-lg bg-white shadow-xl">
  <div class="absolute z-30 flex w-full h-full">
    <div class="relative z-30 w-5/6 px-6 py-8 text-white md:py-10 md:w-1/2 sm:py-4 sm:w-full">
      <h2 class="text-2xl text-black font-mono font-thin">
        {{concert_name}}
      </h2>
      <p class="text-lg font-mono text-black">
        Live at: {{ venue_name }}
      </p>
      <p class="font-mono text-black">
        Show Date:
        <span class="font-mono text-red-400">
          {{format_date created_at}}
        </span>
      </p>
      <p class="font-mono text-black">Left in stock: <span id="stock" class="text-red-400">{{stock}}</span></p>
    </div>
    <div class="absolute top-0 right-0 flex w-full h-full">
      <div class="w-1/3 h-full bg-white"></div>
      <div class="relative w-1/3">
        <svg fill="currentColor" viewBox="0 0 100 100" class="absolute inset-y-0 z-20 h-full text-white">
          <polygon id="diagonal" points="0,0 100,0 50,100 0,100"></polygon>
        </svg>
        <svg fill="currentColor" viewBox="0 0 100 100"
          class="absolute inset-y-0 z-10 h-full ml-6 text-black opacity-50">
          <polygon points="0,0 100,0 50,100 0,100"></polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="absolute top-0 right-0 block w-9/12 h-full">
    <img alt="neon ticket sign" class="object-cover w-screen h-96" src="/assets/images/crowd_control.jpg" />
  </div>
</div>