<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR-HTML-Template</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-indigo-100 flex flex-col h-full">
  <main class="container">
    {{{body}}}
  </main>
  <footer class="lower-info relative h-15 flex w-full justify-center border-t border-grey p-4 pin-b text-black font-semibold text-xl">
    <p class="text-xl ">&copy;2020 by QRater</p>
    <br/>
    <p class="text-xl">Tailwind style from <a class="text-xl hover:text-red-400" href="https://chrisbongers.com/">Chris Bongers</a>
    
     at <a class="text-xl hover:text-red-400" href="https://daily-dev-tips.com/posts/responsive-header-in-tailwind-css/">DAILY DEV</a></p>
  </footer>
  
</body>

</html>