<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR-HTML-Template</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body class="bg-indigo-100">
  <main>
    {{{body}}}
  </main>
  <footer class="relative sticky h-15 flex justify-center bg-black p-6 text-white font-semibold text-xl">
    <p class="text-xl ">&copy;2020 by QRater</p>
  </footer>
</body>

</html>