<div class=" h-48  m-8 rounded-xl bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 shadow-xl">
  <div class="w-full h-full pt-14">
    <div class="grid grid-rows-2 place-items-center text-black">
      <h2 class="lg:text-5xl md:text-4xl sm:text-3xl p-3">Welcome back, let's get you <strong class="font-mono">BACKSTAGE!</strong>
      </h2>
    </div>
  </div>
</div>

<form class="login-form  px-8 pt-6 pb-8 mb-4 flex flex-col relative h-96 m-8 rounded-lg bg-black shadow-xl">
  <div class="mb-4">
    <label class="block text-white text-sm font-bold mb-2" for="email-login">Email:</label>
    <input class="text-2xl shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="text"
      id="email-login" />
  </div>
  <div class="mb-4">
    <label class="block text-white text-sm font-bold mb-2" for="password-login">Password:</label>
    <input class="text-2xl shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" type="password"
      id="password-login" />
  </div>
  <div>
    <button
      class="bg-gradient-to-r from-green-400 via-blue-500 to-purple-500 hover:border-white hover:text-pink-500 text-white font-bold py-2 px-4 rounded mt-10"
      type="submit">Log In</button>
  </div>
  <div>
    <span class="text-white">Not a member yet?
      <a href="/signup" id="sign-up">Sign up </a>
    </span>
  </div>
</form>



<script src="/javascript/login.js"></script>