<div class=" h-48  m-8 rounded-xl bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 shadow-xl">
  <div class="w-full h-full pt-14">
    <div class="grid grid-rows-2 place-items-center text-black">
      <h2 class="lg:text-5xl md:text-4xl sm:text-3xl p-3">
        ENJOY YOUR SHOW!
      </h2>
    </div>
  </div>
</div>
  <div class="flex flex-row justify-center">
    <img class="h-80 w-80" src="/assets/images/qr_code_ticket.png" alt="QR code for ticket">
  </div>
  <div class="m-4 flex flex-row justify-center">
    <a href="/account" class="bg-yellow-400 rounded text-black pt-5 pb-5 pr-10 pl-10">
      My Account
    </a>
  </div>