<div class=" h-48  m-8 rounded-xl bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 shadow-xl">
  <div class="w-full h-full pt-14">
    <div class="grid grid-rows-2 place-items-center text-black">
      <h2 class="lg:text-5xl md:text-4xl sm:text-3xl p-3">TICKET SUCCESFULLY REDEEMED! ENJOY THE SHOW!</h2>
    </div>
  </div>
</div>