{{#unless ticket}}
<div class="flex justify-center">
  <h3 class="m-5 text-5xl text-red-500 font-mono font-extrabold">No tickets found currently, very sad.</h3>
</div>
{{/unless}}
{{#if ticket}}
<section>
  <input name="singleTicketUser" class="hidden" type="text" value="{{user_id}}">
  <ol  class="space-y-4">
    <li id="{{ticket.id}}">
      <input name="singleTicketID" class="hidden" type="text" value="{{ticket.id}}">
      {{> ticket-info ticket}}
    </li>
    <div id="qr_ticket">
      <button
        class="text-black bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 text-xl font-extrabold rounded-xl p-2 m-2"
        type="submit">Get QR Code</button>
    </div>
    <div id="delete_ticket">
      <button
        class="text-black bg-gradient-to-r from-red-700 via-red-400 to-red-700 text-xl font-extrabold rounded-xl p-2 m-2"
        type="submit">DELETE TICKET</button>
    </div>
  </ol>
</section>
{{/if}}


<script src="/javascript/delete_ticket.js"></script>